
body {
    font-size: 1em;
}

.content h1 {
    font-size: 1.5em;
}

.content h2 {
    font-size: 1.25em;
}

.content h3 {
    font-size: 1em;
    font-weight: bold;
}

.content h1:before,
.content h2:before,
.content .big-heading:before,
body.big-h3 .content h3:before {
    content: none;
}

.header {
    background-color: #e6e7f6;
}

.content img {
    margin-bottom: 1em;
}

.picture {
    float: right;
    margin: 1em 0 0 2em;
}

#nicola-orritos-curriculum-vitae-at-a-glance {
    padding-top: 0.5em;
}
